.btn {
	border: none;
	background-color: transparent;
	width: 30px;
	height: 30px;
	padding: 5px;
	cursor: pointer;
	color: var(--c-black);
}

.btn:disabled {
	cursor: initial;
	color: var(--c-lightgray);
	background-color: transparent;
}

button.fillDisabled.powerFillDisabled {
	background-color: var(--c-lightgray);
	color: var(--c-white);
	border-radius: 50%;
}

.red {
	color: var(--c-red);
}

.fillBlack,
.fillRed {
	border-radius: 50%;
	color: var(--c-white);
}

.fillBlack {
	background-color: var(--c-black);
}

.fillRed {
	background-color: var(--c-red);
}
