.btn {
	border: none;
	background-color: transparent;
	width: 30px;
	height: 30px;
	padding: 5px;
	cursor: pointer;
}

.btn:disabled {
	cursor: initial;
}

.black {
	color: var(--c-black);
}

.red {
	color: var(--c-red);
}

.disabled {
	color: var(--c-lightgray);
	background-color: var(--c-lightgray);
}

.fillBlack,
.fillRed,
.disabled {
	border-radius: 50%;
	color: var(--c-white);
}

.fillBlack {
	background-color: var(--c-black);
}

.fillRed {
	background-color: var(--c-red);
}
