.btn {
	border: none;
	background-color: transparent;
	width: 30px;
	height: 30px;
	padding: 5px;
	cursor: pointer;
}

.black {
	color: var(--c-black);
}

.red {
	color: var(--c-red);
}

.disabled {
	color: var(--c-lightgray);
	cursor: initial;
}

.fill {
	color: var(--c-white);
	border-radius: 50%;
	background-color: var(--c-black);
}

.fillRed {
	background-color: var(--c-red);
}

.fillDisabled {
	background-color: var(--c-lightgray);
}
