.form {
	position: relative;
	box-shadow: var(--s-sm);
	border-radius: var(--r-md);
	padding: var(--p-lg);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: start;
	gap: var(--g-lg);
}

.username {
	grid-column: 3/4;
}

.cross {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -50%);
}

.btnCreate {
	justify-self: end;
}
