.form {
	position: relative;
	box-shadow: var(--s-sm);
	border-radius: var(--r-md);
	padding: var(--p-lg);
	display: grid;

	gap: var(--g-lg);
}

.cross {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -50%);
}

.btnCreate {
	justify-self: end;
}

.submitErr {
	color: var(--c-red);
}

@media (min-width: 768px) {
	.form {
		grid-template-columns: 1fr 1fr 1fr;
		justify-items: start;
		align-items: start;
	}
	.username {
		grid-column: 3/4;
	}
}
