.app {
	padding: 15px;
	display: grid;
	gap: 20px;
	width: 100%;
	max-width: 750px;
}

.pagination {
	display: flex;
	gap: var(--g-md);
}

.pageSelector {
	margin-left: auto;
}

.title {
	text-align: center;
}
