.user {
	display: grid;
	grid-template-columns: 1fr 20% 20% auto auto;
	gap: 10px;
	align-items: center;
	box-shadow: var(--s-sm);
	padding: 15px;
	margin-bottom: 15px;
	border-radius: var(--r-md);
}

.name {
	text-transform: capitalize;
}

.delete {
	color: var(--c-red);
}
