.user {
	display: grid;
	grid-template-columns: 1fr 20% 20% 20%;
	gap: 10px;
	align-items: center;
	border: 1px solid gray;
	padding: 15px;
	margin-bottom: 15px;
	border-radius: 10px;
}

.user__name {
	font-weight: bold;
}

.name {
	text-transform: capitalize;
}
