.role {
	background-color: royalblue;
	text-transform: uppercase;
	font-size: var(--t-sm);
	padding: var(--p-sm) var(--p-md);
	text-align: center;
	border-radius: var(--r-sm);
}

.teacher {
	background-color: var(--c-blue);
}

.student {
	background-color: var(--c-purple);
}

.other {
	background-color: var(--c-lightgray);
}
