.label {
	display: grid;
	gap: var(--g-sm);
	cursor: text;
}

.input {
	border: none;
	outline: transparent;
	box-shadow: var(--s-sm);
	border-radius: var(--r-sm);
	padding: 8px 32px 8px 16px;
	width: 100%;
}

.input:focus {
	box-shadow: var(--s-md);
}

.input::placeholder {
	color: var(--c-lightgray);
}

.title {
	font-weight: bold;
}

.title,
.errText {
	margin-left: 5px;
}

.errText,
.err {
	color: var(--c-red);
}

.errInput {
	border: 1px solid var(--c-red);
}

.labelTwo {
	position: relative;
}

.err,
.success,
.loading {
	width: 20px;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	margin-right: 6px;
}

.loading {
	color: var(--c-gray);
}
.success {
	color: var(--c-green);
}
