.wrapper {
	position: relative;
	display: flex;
	align-items: center;
	--w-arrow: 20px;
	--p-right-select: calc(var(--p-lg) + var(--w-arrow));
	--pos-right-arrow: calc(var(--w-arrow) / 2);
}

.select {
	border-radius: var(--r-sm);
	border: none;
	box-shadow: var(--s-sm);
	outline: transparent;
	padding: var(--p-md) var(--p-lg);
	padding-right: var(--p-right-select);
	appearance: none;
}

.select:focus {
	box-shadow: var(--s-md);
}

.arrow {
	position: absolute;
	top: 50%;
	right: var(--pos-right-arrow);
	width: var(--w-arrow);
	transform: translateY(-50%) rotate(90deg);
	pointer-events: none;
}
