@import "./styles/reset.css";
@import "./styles/colors.css";
@import "./styles/shadows.css";
@import "./styles/radius.css";
@import "./styles/fonts.css";
@import "./styles/paddings.css";
@import "./styles/gap.css";

#root {
	min-height: 100vh;
	display: grid;
	place-items: center;
}
